*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
   }

header{
    text-align: center;
    margin-top: 0rem;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: relative;
}

h1{

    font-size: 2rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-top: 2rem;
}

form{

    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form input[type="text"]{

    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"]{

    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover{

    background-color: #444;
}

h2{

    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-top: 2rem;
}

footer{

    text-align: center;
    margin-top: 2rem;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: relative;
   bottom: fixed;
}
